@model Tuple<List<User>, IEnumerable<ProjetDotNet.Models.Message>>
@{
	ViewData["Title"] = "Chat App";
	User Sender= Model.Item1[0];
	User Receiver = Model.Item1[1];
	IEnumerable<Message> messages =  Model.Item2;
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

<link rel="stylesheet" href="~/css/Messenger.css" />

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#">Chat App</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="/Messenger">Messages <span class="sr-only">(current)</span> </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Profile">Profile<span class="sr-only">(current)</span></a>
            </li>
            
        </ul>
        <form class="form-inline my-2 my-lg-0">
            
               <a asp-controller="Connection" asp-action="LogOut">Logout</a>
           
        </form>
    </div>
</nav>


<main class="content">
	<div class="container p-0">
		<div class="d-flex justify-content-between">
			<div>
				<h1 class="h3 mb-3">Messages</h1>
			</div>
			
		</div>
		<p id="SpecialId" hidden>@Model.Item1[0].Id</p>
		
		<div class="card p-2 " >
			<div class="row g-0">
				@* This is the chat section wich depends on the user who signed in to this page*@
				<div class="col-12 col-lg-5 col-xl-12" >
					<div class="py-2 px-4 border-bottom d-none d-lg-block">
						<div class="d-flex align-items-center py-1">
							<div class="position-relative">
								<img src="@Receiver.Image" class="rounded-circle mr-1" alt="Name" width="40" height="40">
							</div>
							<div class="flex-grow-1 pl-3">
								<strong>@Receiver.Name</strong>
								
							</div>
						</div>
					</div>
					<div class="position-relative">
						<div class="chat-messages p-4">
							@foreach(Message msg in Model.Item2){
								if(msg.SenderId ==  Model.Item1[0].Id)
								{
									
									<div class="chat-message-right pb-4">
										<div>
											<img src="@Sender.Image" class="rounded-circle mr-1" alt="Chris Wood" width="40" height="40">
											<div class="text-muted small text-nowrap mt-2">@msg.CreatedAt</div>
										</div>
										<div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">
											<div class="font-weight-bold mb-1">You</div>
											@msg.MessageText
											<div class="d-flex justify-content-evenly align-items-center">
											<a href="/Messenger/Delete/@msg.Id">
												<div class="alert-danger p-2 rounded-2 m-1">
												<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
													<path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
												</svg></div></a>
												<div class="alert-info p-2 rounded-2 m-1  " data-toggle="modal" data-target="#exampleModal">
												<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
													<path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z" />
												</svg>
											</div>
											</div>

											<!-- Modal -->
											<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
												<div class="modal-dialog" role="document">

													<form asp-action="UpdateMessage" method="post">
													<div class="modal-content">
														<div class="modal-header">
															<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
															<button type="button" class="close" data-dismiss="modal" aria-label="Close">
																<span aria-hidden="true">&times;</span>
															</button>
														</div>
														<div class="modal-body">
															<div class="form-group">
																<label for="exampleInputText">New Text</label>
																<input type="text" name="msgId" class="form-control" placeholder="Enter text" value="@msg.Id" hidden>
																<input type="text" name="newMsg" class="form-control" placeholder="Enter text">
															</div>
														</div>
														<div class="modal-footer">
																<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
																<button type ="Submit" class="btn btn-primary">Save changes</button>
															
														</div>
													</div>
													</form>
												</div>
											</div>
										</div>
									</div>
								}
								else
								{
								<div class="chat-message-left pb-4">
								<div>
									<img src="@Model.Item1[1].Image" class="rounded-circle mr-1" alt="Chris Wood" width="40" height="40">
									<div class="text-muted small text-nowrap mt-2">@msg.CreatedAt</div>
								</div>
								<div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">
								<div class="font-weight-bold mb-1"> @Model.Item1[1].Name</div>
									@msg.MessageText
								</div>
							</div>
								}
							}
							
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="flex-grow-0 py-3 px-4 border-top fixed-bottom mw-75">
		<form asp-action="SendMessage" method="post">
			<div class="input-group">
				<input type="text" class="form-control" name="msgValue" placeholder="Type your message">
				<button id="sendButton" type="Submit" class="btn btn-primary">Send</button>
			</div>	
		</form>
		</div>
	</div>
	<script src="~/js/dist/browser/signalr.js"></script>
	<script>
		var IdNeeded = document.getElementById("SpecialId").innerText;
		console.log('idNeeded ' + IdNeeded);
		const connection = new signalR.HubConnectionBuilder()
			.withUrl("/Messenger/"+IdNeeded)
			.build();

		connection.on("ReceiveMessage", function () {
			location.reload();
		});

		connection.start().catch(err => console.error(err.toString()));
	</script>
</main>
